

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Mukta:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html{
    overflow: hidden;
    width: 100%;
    background-color: #fdfdfd;
    
}

body {
    height: 100%;
    width: 100vw;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#root{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container{
   display: grid;
   height: 100%;
   width: 100vw;
   max-width: 640px;
   grid-template-rows: 85% 15%;
   justify-items: center;
}

.content-grid {
    display: grid;
    height: 100%;
    /* width: 85%; */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(8, 1fr);
    margin: 25px;
    gap: 20px;
}

.infobox {
    position: absolute;
    left: calc(50vw - 160px);
    width: 320px;
    height: 420px;
    top: 20vh;
    display: grid;
    grid-template-rows: 1fr 5fr .75fr;
    background-color: #ffffff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    font-family: 'Mukta';
    cursor: pointer;
    border-radius: 5px;
}

.form-grid {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(7, 1fr);
    gap: 12px;
}


.form-toggle-div {
    color:rgb(40, 40, 40);
    border-radius: 999px;
    font-size: .9em;
    height: 3em;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 110%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    user-select: none;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1);}

.form-toggle-div.selected {
    box-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) #04785770;
}
